$("#<%= params[:d_id] %>").remove();
<% if @new_messages.count == 0 %>
	$(".page #new_messages").empty()
	$(".page #new_messages").append($("<div class='empty_statement'>Your inbox is empty!</div>"))
<% end %>
$(".page #trashed_messages").empty();
$(".page #trashed_messages").append("<%= escape_javascript(render :partial => 'trashed_messages') %>");