// Place all the styles related to the Buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#building_content{
	background: #ccc;
	padding: 0 10px 10px 10px;
	border-radius: 0 5px 5px 5px;
	border: 1px solid black;
	margin-top: 6px;
}