#dining_wrapper{
	font-size: 10pt;
	h2{
		text-align: left;
	}
	.dhall{
		float:left;
		width: 30%;
		margin-right: 10px;
	}
	#mealtime{
		font-weight: bold;
		text-align: left;
		font-size: 11pt;
	}
	.dhall_names{
		font-weight: bold;
		font-size: 10pt;
		text-align: center;
	}
}