#dining_wrapper{
	background: #fff;
	font-size: 10pt;
	h2{
		text-align: left;
	}
	.dhall{
		float:left;
		width: 30%;
		margin-right: 10px;
	}
	#mealtime{
		font-weight: bold;
		text-align: left;
		font-size: 11pt;
	}
	.dhall_names{
		font-weight: bold;
		font-size: 10pt;
		text-align: center;
	}
	.lunch{
		float:left;
	}
	.dinner{
		float:left;
		clear: both;
	}
	#close{
		text-align: right;
		background: #fff;
		float: right;
		&:hover{
			text-shadow: 0 0 7px white;
			cursor: pointer;
			color: black;
		};
	}
	#title{
		font-size: 12pt;
		font-weight: bold;
		text-align: center;
	}
}
#dining_menu{
	background: #fff;
	width: 70%;
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	top: -30px;
	left: 15%;
	display: none;
}