<h1 id="featured">Featured:</h1>
<%= link_to "\"Getting Away With It:\" A roadmap around the rules from the RAs that enforce them", roadmap_path %></br>

<h1>Coming up next:</h1>
	<%= link_to "Piracy on the Hill: and so can you!" %>
