<% topics = Forem::Topic.all %>
<% topics.sort! {|a,b| b.created_at <=> a.created_at} %>
<% topics = topics.first(10) %>

<div id="new_topics">
	<ul>
		<% topics.each do |t| %>
			<li><%= link_to t.subject, forem.forum_topic_path(t.forum.id, t) %> in <%= t.forum.title %> by <%= t.user %></li>
		<% end %>
	</ul>
</div>