<% tests = Exam.all %>
<% tests.sort! { |a,b| b.created_at <=> a.created_at } %>
<% tests = tests.first(10) %>
<% list_num = 1 %>

<div class="right_widget" id="top_contributors">
	<div id="title">Test Bank Uploads</div>

<table align="center">
	<col width="10%" />
	<col width="70%" />
	<tr>
	<td></td>
	<td>File Name</td>
	</tr>
	<% tests.each do |t| %>
		<tr>
			<td><%= list_num %>. </td>
			<td align="left"><%= link_to t.document_file_name, test_bank_path(:course => t.course.id) %></td>
		</tr>
		<% list_num = list_num + 1 %>
		<% if list_num > 10; break; end %>
	<% end %>
</table>
</div>