<div id="roadmap_wrapper">
<body class="main">

<h1>Getting Away With It</h1>

<h2 style="text-align: center;">A roadmap around the rules from the RAs that enforce them</h2>

<div id="nametag">
	<%= image_tag "/roadmap_nametag.png" %>
</div>

<h3><a name="Top">Contents</a></h3>

<div id="table_of_contents">
	<ul>
		<li><a href="#Introduction">1 Introduction</a></li>
		<li><a href="#Rule">2 Rule breaking breakdown</a></li>
		<li><a href="#Five">3 Five rule breaking ESSENTIALS</a></li>
			<li id="sublist"><a href="#Five1">3.1 Know your enemy</a></li>
			<li id="sublist"><a href="#Five2">3.2 Timing</a></li>
			<li id="sublist"><a href="#Five3">3.3 Manners</a></li>
			<li id="sublist"><a href="#Five4">3.4 Designate scapegoats</a></li>
			<li id="sublist"><a href="#Five5">3.5 Plan ahead</a></li>
		<li><a href="#Alcohol">4 Alcohol</a></li>
			<li id="sublist"><a href="#alcohol_drill">4.1 The Drill</a></li>
			<li id="sublist"><a href="#alcohol_NOT">4.2 How NOT to get caught</a></li>
		<li><a href="#Marijuana">5 Marijuana</a></li>
			<li id="sublist"><a href="#marijuana_drill">5.1 The Drill</a></li>
			<li id="sublist"><a href="#marijuana_NOT">5.2 How NOT to get caught</a></li>
	</ul>
</div>

<h3><a name="Introduction" href="#Top">Introduction</a></h3>

<p class="thumbs">Hello, and welcome to “Getting away with it,” the survival guide for students looking to live freely on the Hill at UCLA.  If you’re reading this, you face the same predicament as every other student on the Hill: how can I enjoy the freedoms of living away from home if there are rules keeping me from the very things I most desired in moving away to college?  Herein lay the answers.</p>

<p class="thumbs">So stop complaining that it’s “not fair” you can’t drink or enjoy a bowl of that “norcal sh*t” from the comfort of your room BECAUSE YOU CAN.  And you will.  Read on, learn the inner workings of policy enforcement on the Hill, and enjoy the freedoms of apartment living while taking advantage of the amenities of dorm life.  You don’t have to choose; you get both.  You just have to know what you’re not supposed to know.</p>

<h3><a name="Rule" href="#Top">Rule breaking breakdown</a></h3>

<div id="list_container">
	<ul>
		<li class="content_list">Resident Assistants (RAs) patrol the Hill from 7pm to 1am</li>
		<li class="content_list">While “on duty,” each RA is required to perform 3 rounds through his or her designated floors/houses/etc at different times</li>
		<li class="content_list">The RA cites and reports</li>
		<li class="content_list">The Resident Director (RD) meets with the residents and issues consequence based on the RA report</li>
	</ul>
</div>

<p class="thumbs">When a Resident Assistant catches you in the act of rule breaking, the RA stops what is happening to ask questions and gather information.  The RA will take everyone’s bruincard to record names and ID numbers.  After leaving the scene of the crime, the RA writes up an “incident report” that will be submitted to the Resident Director of the building you were cited in.  <b>The RA is not responsible for determining consequences</b>.  The RD contacts the involved residents via email and schedules a meeting with each one individually.  During the meeting, the RD reads the incident report to each resident, gives the resident an opportunity to discuss what happened, and then determines an appropriate consequence.
</p>

 <h3><a name="Five" href="#Top">Five rule breaking ESSENTIALS</a></h3>

<h4><a name="Five1" href="#Five">1.	Know your enemy - RA, CSO, Resident</a></h4>

<p class="thumbs">It is important to know who is enforcing rules on the Hill so these individuals may be either avoided or properly managed.  The first and most obvious rule enforcer is the Resident Assistant.  The RA is to enforce housing policy within his or her building, and while their jurisdiction is not limited to their hall, <u>they typically do not flex authority on the outside</u>.  The second rule enforcer is the Community Service Officer, or CSO.  CSOs patrol the outdoor areas around the Hill and come inside for one round with the RAs every night.  CSOs are predominantly wannabe cops hurting for a student to slip up so they can go all authoritarian on the poor kid.  CSOs have no real power outside of the radio they use to call someone else to deal with an incident, but they can still ruin a perfectly good time.  The final and <b>most overlooked rule enforcer on the Hill is the resident</b>.  That’s right: your own flesh and blood is ratting you out to the bigger guys.  Don’t get all hot and bothered—it takes a genuine asshole to turn one’s own species against itself.  As such, it is to your benefit to be on good terms with the people living around you.  Residents are the eyes and ears of the Hill and the more respect you show them, the more respect they will have for you and your agenda.  After all, the rules are predominantly about respect in the first place.</p>

<h4><a name="Five2" href="#Five">2.	Timing</a></h4>

<p class="thumbs">There’s a time and a place for everything, and rule breaking is no exception.  While you must always be aware and respectful of your neighbors, there are certain times throughout the day when it is safer to infringe upon the rules than others because <b>RAs walk their rounds at predicable times each night.</b>  This is important information and should be referenced before any dorm debauchery.</p>

<%= image_tag "/timing.png", :size => "200px" %>

<ul>
	<li><span id="green">9am – 7pm</span>: Great time to do whatever in your room.  RAs and fellow residents are in class or in the dining hall, leaving you alone to do what you’d like.
	<li><span id="red">7pm – 7:30pm</span>: RAs begin duty shifts at 7pm.  While on duty, every RA is required to walk through their building on a “round” 3 times every weekday and 4 times every weekend.  This 30 minute bracket is particularly dangerous because <b>it is a habit of <em>every RA</em> to do their first round at the beginning of their duty shift.</b>
	<li><span id="yellow">7:30pm – 9:30pm</span>: RAs will typically avoid another round of duty for a couple hours before doing the next, creating this window of opportunity.  If you’re planning on drinking, time to get started.
	<li><span id="red">9:30pm – 10:30pm</span>: <b>Every RA will do a round within this hour</b>.  Furthermore, CSOs enter each building at this time to accompany RAs on their rounds.  The presence of the CSO pressures RAs into performing a more aggressive round of duty and even little things like the clinking of glasses or the bouncing of a Ping-Pong ball behind closed doors will result in an abrupt ending to the night’s activities.
	<li><span id="yellow">10:30pm – 1:00am</span>: Your RA will do his or her final round(s) in this time span.  Remember to exercise precaution during this time block.
	<li><span id="yellow">1:00am</span> – <span id="green">9am</span>: RAs will have signed off their radios by 1:00am and will be finished performing their rounds for the evening.  Likewise, most residents are already in bed for the night.  Despite the lack of consciousness in your living area, drinking during these hours is risky.  It’s no secret alcohol impairs your ability to hear and this results in raised voices.  At higher levels of intoxication, a lot of stumbling and banging around your room begins.  Noise at these levels tends to wake the neighbors who will dial in a noise complaint and force a tired RA out of bed to come yell at you for being an asshole.  If you seriously HAVE to drink past 1am, do it in moderation and consider phoning the following hotline: (800) 923-8722.
</ul>

<h4><a name="Five3" href="#Five">3.	Manners</a></h4>

<p class="thumbs">At some point in your rule breaking, <em>you will get caught.</em>  Despite reading this guide word for word, there will be certain unavoidable circumstances you won’t see coming that will have you setting up a meeting with your building’s Resident Director by the end of the night.  This is not a loss; it is a time to switch gears.</p>

<p class="thumbs">Most RAs are shitting their pants when they knock on a door for a citation.  Anything can happen and their training prepares them for the absolute worst, effectively scaring them more than helping them calmly handle a situation.  When your debauchery is broken up by an RA doing his job, do not attempt to fight, argue against, or explain your way out of trouble.  <b>Your goal is to make the documentation process as smooth and easy for the RA as possible.</b>  You screwed up; be nice about it. Apologize, hand over your bruincard, and after cooperating, wish him well.  Being submissive is not everyone’s strong suit, but here’s the bottom line: the RD was not at the incident and must assign punishment based entirely on the RA’s report.  “Resident Smith cooperatively submitted his bruincard to RA NiceGuy and apologized for his inconvenience” comes off a little better than “Resident Jackass loudly argued with RA ScaredButTrying about the noise complaint.”  Furthermore, RAs oftentimes speak with their Resident Directors about incidents the following day and will emphasize encounters that were particularly good or bad.  And while being on your best behavior after the fact may not get you out of trouble, 5 hours of community service is considerably less than 15 hours.</p>

<h4><a name="Five4" href="#Five">4.	Designate scapegoats</a></h4>

<p class="thumbs">Someone has to get in trouble, but not everyone.  When the jig is up and the RA is knocking on your door, have a couple scapegoats ready to take the blame.  A 5-man drinking competition behind a closed door (not recommended) can easily turn into Jeff and Nathan casually drinking before going out for the night.  Keep the following in mind when designating scapegoats:</p>

<div id="list_container">
	<%= image_tag "/scape_goat.png" %>
	<ul>
		<li class="content_list">Have 2 people ready to take the blame before an RA arrives.  Drinking alone in a room full of people is extremely uncommon and hardly believable.  Unless you have a very confident, capable friend ready to step up as a solo scapegoat, go with a pair.</li>
		<li class="content_list">One scapegoat must be a resident of the room.  “They just came in and started drinking against my will” never worked for anyone.</li>
		<li class="content_list">Be aware that despite pointing fingers, <b>the RA will always ask for <em>everyone’s bruincard</em></b>.  This is the RA’s job.  DO NOT ARGUE (see 3: <a href="#Five3">Manners</a>).  A guilty person has nothing to argue about.  Explain that your scapegoats were the only ones drinking so that information is recorded in the RA’s incident report.  If you’ve been drinking, do yourself a favor and avoid breathing vodka all over the RA when you’re handing him your card.  In the event that you have to meet with the RD, stick to your story, practice good manners, and you will find yourself free of consequence.</li>
	</ul>
</div>

<h4><a name="Five5" href="#Five">5.	Plan ahead</a></h4>

<p class="thumbs">Perhaps the most important rule of thumb when it comes to breaking rules on the Hill is to have a general plan for the possibility of an RA encounter.  This plan should also be supplemented with case-specific strategies dependent on the kind of policy-violating activity you’re participating in.  For example, before diving into a fresh case of 30 Coors Lights (you classy bastard), inform your guests that a knock on the door is likely an RA and any alcohol in plain sight needs to be placed in a closet, bathroom, or anywhere out of view.  If you don’t already know, determine who among you and your friends have had the least visits with Hill RDs and designate scapegoats.  Most important of all however: be sure to inform your guests that <b>the arrival of an RA is no big deal</b>. Nine times out of ten, Hill residents (and especially their guests) panic in the event of a bust and “battle” the RA with their bad manners and rude remarks, earning your whole team more community service than you need.  Having established a plan, your company will be equipped to mitigate a bust, effectively saving your time, your alcohol, and your night.</p>

<h3><a name="Alcohol" href="#Top">Alcohol</a></h3>

<h4><a name="alcohol_drill" href="#Top">The Drill</a></h4>

<div id="list_container">
	<ul>
		<li class="content_list">An RA detects alcohol via sight, sound, or smell</li>
		<li class="content_list">The RA radios for other RAs to assist with the incident before knocking on the door</li>
		<li class="content_list">Under direction by an RA, one of the residents will <b>empty all visible alcohol containers into the nearest drain</b></li>
		<li class="content_list">RAs take down <em>everyone’s</em> information before leaving</li>
	</ul>
</div>

<p class="thumbs">Assuming you’re smart enough to keep it out of plain sight, RAs will either detect your alcohol directly by its smell or indirectly via noise complaint.  Typically, the dampening effect alcohol has on your hearing causes you and your guests to talk louder, resulting in a noise complaint and consequently, an alcohol citation.  In the event of some heavier drinking however, your room will not be able to contain the critical mass of alcohol fumes shooting from containers of hard A, forcing them out into the hall for duty-RAs to smell.  When an RA detects alcohol in a room, he will call for a backup RA and they will knock on your door.  The door is opened, RAs bring attention to the smell/sight of alcohol in the room, and information is taken down from bruincards.  An RA will then direct a resident to take any alcohol (including entire shelves lined with <em>unopened handles</em> (true story)) and dump it down the nearest drain while accompanied by the other RA. </p>

<h4><a name="alcohol_NOT" href="#Top">How NOT to get caught</a></h4>

<p style="text-indent:0; margin-left:20px;">Drinking in your room without getting caught is not easy, especially when dealing with higher volumes of alcohol.  Remember to take into account the <a href="#Five">five rule breaking essentials</a> as they all apply here.  In addition, do your best to get out on top by utilizing these tips:</p>

<ol id="NOT">
<li><b>Contain the smell.</b>  Avoid filling the hall with the odor of alcohol by properly containing it in your room.  Instead of fruitlessly setting up fans and blocking  gaps in the door:
	<div id="list_container">
		<ul>
			<li class="content_list">Keep caps on your alcohol containers</li>
			<li class="content_list">Chill your alcohol.  Ethanol is less volatile at lower temperatures (and tastes better too!)</li>
			<li class="content_list">Make mixed drinks.  Diluted alcohol is less powerful</li>
			<li class="content_list">Minimize time between pouring and drinking</li>
			<li class="content_list">Quickly clean up spills</li>
			<li class="content_list">Set up your “alcohol station” well away from the door.</li>
		</ul>
	</div>
</li></br>

<li><b>Hide the alcohol.</b>  Oh my GOD hide the alcohol. It is the RA's job to rid the room of any visible alcohol by putting it down the nearest drain. Hide it and avoid a very unpleasant evening.</li></br>

<li><b>Be cool.</b>  In 9/10 alcohol incidents, the RA knocks on the door, notices someone look through the peep hole, and then in a terribly loud whisper: “SHHHH!! RA! PUT THE ALCOHOL AWAY!”  Of course, this goes in the incident report, so any lying after the fact is not only useless, but comes with a bonus: you look like an asshole.</br></br>

<div class="thumbs">When you’re drinking and you hear a knock on your door, <b>do not stop what you are doing or saying.</b>  In fact, pretend you didn’t hear the knock.  Continue with whatever conversation you were having <u>without checking your peephole</u> and calmly signal to your friends that they hide the alcohol.  Having planned for this in advance, your guests will all be keen to continue the conversation and help put away any alcohol by the second knock on the door.</div>
</li></br>

<li><b>"We just got back from drinking at (--insert off-Hill location here--)."</b>  You are drunk, you reek of alcohol, and <u>that’s okay</u>.  Only when the RAs inquire about the smell do you “admit” to them that everyone in your room just returned from the apartments <em>not on the Hill</em> and you’re all quite inebriated.  Unless you skipped over the previous tip or missed an empty beer can during cleanup, you will be off the hook.  If the RA isn’t buying, do like any innocent person and just cooperate, answering all questions and submitting your bruincard on request.  Worst-case scenario is you’re meeting with the RD and feeding him/her the same off-campus party fabrication.  If you’ve pulled this off properly, you will be free from consequence, as any off-campus partygoer should be.</li></br>

<li><b>Have a plan.</b> Choose key hiding places for alcohol: under a bed or desk, in a drawer or closet, etc.  Continue the evening unphased in the event of an unplanned knock on the door while seamlessly hiding your drinks. Have designated scapegoats ready to speak with the RA.  Have a story and stick to it.</li>
</ol>

<h3><a name="Marijuana" href="#Top">Marijuana</a></h3>

<h4><a name="marijuana_drill" href="#Top">The Drill</a></h4>

<div id="list_container">
	<ul>
		<li class="content_list">An RA detects the smell of marijuana in the hall</li>
		<li class="content_list">The RA must radio for another RA or a CSO to come confirm the suspicious odor</li>
		<li class="content_list">After confirmation, the RA must call UCPD and wait at the door of the room for their arrival</li>
		<li class="content_list">The UCPD officer arrives anywhere from 5-30 minutes after the time of the call</li>
		<li class="content_list">The officer takes over the situation, knocking on the door and speaking with the resident(s) while the RA takes notes and bruincards for the incident report.</li>
	</ul>
</div>

<p class="thumbs">As serious as police involvement makes this situation sound, it is actually taken very lightly.  The UCPD officer is only there because federal law requires his presence.  Every officer that shows up for a marijuana call arrives eyes-rolling because he understands how petty a crime marijuana use is.  However, no matter how petty, your inability to keep smoke out of the hall forced the officer to be there dealing with you instead of being available for something serious.  As a result, you may get a good grilling from the guy which includes questioning about how much weed you have left and what you were using to smoke it.  Be apologetic and answer his questions with <b>“that was the last of it”</b> and <b>“we smoked out of a (can/apple/otherdisposablepieceofnovalue)”</b> unless you get off on having your green confiscated and watching a man in uniform crush the pipe your mom bought you for Christmas.  When the officer is done, you will get a slap on the wrist and your punishment will later be determined in a meeting with your RD as per usual.  No fine, no cuffs (lol), etc.</p>

<h4><a name="marijuana_NOT" href="#Top">How NOT to get caught</a></h4>

<p style="text-indent:0; margin-left:20px;">In order to keep the smell of marijuana in your room and not out your door, consider the following:

<ol id="NOT">
<li><b>Make a mute</b>.  A mute is a device you blow smoke through to <b>completely eliminate smell and smoke</b> you would otherwise release into your room.  A mute is made using 1-in PVC piping, a painters mask filter, and a hot glue gun or similar sticky alternative.  The setup is simple enough: you want to blow smoke through the filter and so you will be fastening the PVC pipe to that hole on the filter.  This is $15 well spent for anyone interested in indoor smoking.  Obviously, aim to make the seal as airtight as possible and consider using chewing gum to close any gaps.  An alternative to this odor eliminator is what’s referred to as a “floobie.”  Floobies are made by stuffing  sheets of fabric softener and toilet paper inside the cardboard center of a toilet paper roll.  Typically, tape is used to keep the stuffing from popping out of the tubing.  Blowing smoke through the floobie will disguise the smell of marijuana because of the dryer sheets’ strong scent, though the odor is still discernable and some smoke is still released.</li>

</br>
<iframe width="420" height="315" style="margin-left: 100px" src="http://www.youtube.com/embed/cX75vp5XxA4" frameborder="0" allowfullscreen></iframe>
</br></br>

<li><b>Pack snappers</b>.  Ever notice how when you’re at your friend’s apartment and everyone’s passing the bong around, the bowl releases smoke between hits?  That’s because the weed in the bowl is smoldering and emitting smoke after your friend took a turn.  This is why it is necessary to pack snappers, so named after the sound made when you pull the end of a bowl into your bong or bubbler.  You have to take care you don’t pack so much that you cough it all out in an effort to clear, so consider testing out this technique somewhere that is not your room.  Of course, this requires a water-pipe or sorts, so you’ll have to get one if you don’t have one already.</li>

<li><b>Smoke at your window</b> and blow smoke outside.  The less smoke you allow into your room, the safer you will be.  If this isn’t obvious, you’re too high…ABORT!</li>

<li><b>Invest in a fan</b>.  There are two ideal places to have a fan in your room when you’re smoking: at your window and at your door.  A fan at your window allows you to blow smoke through your mute and into the back of the fan where it is then shot out the window at high speed.  At the base of your door, a fan keeps smoke that doesn’t go out your window from travelling out to the hall and creates a humming noise that will mask the ignition of lighters and the bubble of bongs.</li>

<li><b>Seal the edges of your door</b>.  Many students will put a wet towel at the base of their door to plug the gap between the carpet and the door.  Some students will even go so far as to tape off the cracks between the side of the door and the wall.  While proper use of earlier tactics make these precautionary measures a little over the top, it doesn’t hurt to play a little safer.</li>

<li><b>Have a plan</b> for when someone knocks on the door.  Without saying a word, you’re going to put the marijuana in a specific place that’s out of sight, you are going to calmly remove any obstructions from your door, and you are going to open the door and greet whoever is standing there.  <em>Expect</em> a police officer to avoid freaking out.  If you smoked a while ago, <b>your room smells like weed because you and/or your friend just came from a smoke session at your <em>friend’s apartment</em></b> and the smell must still be lingering.  Nothing about that is against the rules.  If you were just smoking and the cop grills you into a confession, remember that you just finished your last bit of bud and smoked out of an apple or other disposable instrument to avoid the confiscation of your sentimental belongings.</li>
</ol>

</body>
</div>