body{
	background:#536895;
}
#devise_wrapper{
	display: block;
	background: #ccc;
	position: absolute;
	top: 20%;
	left: 40%;
	border-radius: 5px;
	padding: 0 10px 10px 10px;
	font-family: sans-serif;
	border: 1px solid black;
}
a:visited{
	color: black;
}